html {
    scroll-behavior: smooth;
}

body {
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0%;
    width: 100%;
    padding: 20px 8%;
    background-color: #050505;
    border-bottom: 1px solid#00ff88;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.logo span{
    color: #00ff88;
}

.menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover{
    color: #00ff88;
}


.hero{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.8)),url(../src/hero.avif);
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    padding: 120px 8%;
}

.hero-conteudo{
    max-width: 650px;
}

.hero h1{
    font-size: 56px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 30px;
    color: #dddddd;
}

.botao{
    display: inline-block;
    background-color: #00ff88;
    color: #000000;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s;
}

.botao:hover{
    background-color: #ffffff;
    transform: scale(1.05);
}

section{
    padding: 80px 8%;
}

section h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
    color: #cccccc;
}

.sobre{
    background-color: #000000;
}

.beneficios{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.beneficio {
    background-color: #111;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #222;
    width: 100%;
    transition: 0.3;
}

.beneficio:hover{
    border-color: #00ff88;
    transform: translateY(-8px);
}

.beneficio h3{
    color: #00ff88;
    margin-bottom: 15px;
}

.beneficio p{
    color: #ccc;
    line-height: 1.6;
}

.planos{
    background-color: #000000;
}

.subtitulo{
    text-align: center;
    color: #cccccc;
    margin-bottom: 40px;
}

.cards-planos{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.card{
    background-color: #111;
    width: 100%;
    max-width: 320px;
    border-radius: 18px;
    border: 1px solid #222;
    padding: 30px;
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
    border-color: #00ff88;
}

.card ul{
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.card li{
    margin: 12px 0;
    color: #ddd;
}

.card button{
    background-color: #00ff88;
    color: #000000;
    border: none;
    padding: 14px 25px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.preco{
    color: #00ff88;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.5;
}

.card h3{
 margin-bottom: 10px;
}

.principal{
    border-color: #00ff88;
}

.galeria{
   background-color: #000000;
}

.imagens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.imagens img{
    width: 100%;
    border-radius: 15px;
    transition: 0.3s;
}

.imagem{
    display: flex;
    height: 250px;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
    align-items: end;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
}

.imagem h2{
color: #fff;
font-size: 24px;
font-weight: 600;
}

.img1{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.8)), url(../src/musculacao.avif);
}

.img2{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.8)), url(../src/cardio.avif);
}

.img13{
    background-image: linear-gradient(rgba(0,0,0,0.75) rgba(0,0,0,0.8)), url(../src/funcional.avif);
}

.contato{
    background-color: #000000;
}

form{
    max-width: 600px;
    margin: 0 auto;
    background-color:#111;
    padding:20px;
    border-radius: 18px;
    border: 1px solid #222;
}

.label{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

textarea{
    height: 120px;
    resize: none; 
}

.resposta{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #00ff88;
}

.rodape{
    background-color: #050505;
    text-align: center;
    padding: 30px;
    color: #cccccc;
    border-top: #00ff88 solid 1px;
}